In [69]:
'''A global finance company over the years, has collected basic bank details and gathered a lot of credit 
related information. The management wants to build an intelligent system to segregate the people into credit score 
brackets to reduce the manual efforts. Given a person's credit related information, build a machine learning model 
that can classify the credit score.'''

"A global finance company over the years, has collected basic bank details and gathered a lot of credit \nrelated information. The management wants to build an intelligent system to segregate the people into credit score \nbrackets to reduce the manual efforts. Given a person's credit related information, build a machine learning model \nthat can classify the credit score."

In [70]:
'''Features of data:

ID- unique identification of an entry
Customer_ID- unique identification of a person
Month- month of the year
Name- name of a person
Age- age of the person
SSN- social security number of a person
Occupation- occupation of the person
Annual_Income- annual income of the person
Monthly_Inhand_Salary- monthly base salary of a person
Num_Bank_Accounts- number of bank accounts a person holds
Num_Credit_Card- number of other credit cards held by a person
Interest_Rate- interest rate on credit card
Num_of_Loan- number of loans taken from the bank
Type_of_Loan- types of loan taken by a person
Delay_from_due_date- average number of days delayed from the payment date
Num_of_Delayed_Payment- number of payments delayed from the payment date
Changed_Credit_Limit- percentage change in credit card limit
Num_Credit_Inquiries- number of credit card inquiries
Credit_Mix- classification of the mix of credits
Outstanding_Debt- remaining debt to be paid (in USD)
Credit_Utilization_Ratio- utilization ratio of credit card
Credit_History_Age- the age of credit history of the person
Payment_of_Min_Amount- the minimum amount was paid by the person
Total_EMI_per_month- monthly EMI payments (in USD)
Amount_Invested_monthly- monthly amount invested by the customer (in USD)
Payment_Behaviour- payment behavior of the customer (in USD)
Monthly_Balance- monthly balance amount of the customer (in USD)
Credit_Score- the bracket of credit score'''

'Features of data:\n\nID- unique identification of an entry\nCustomer_ID- unique identification of a person\nMonth- month of the year\nName- name of a person\nAge- age of the person\nSSN- social security number of a person\nOccupation- occupation of the person\nAnnual_Income- annual income of the person\nMonthly_Inhand_Salary- monthly base salary of a person\nNum_Bank_Accounts- number of bank accounts a person holds\nNum_Credit_Card- number of other credit cards held by a person\nInterest_Rate- interest rate on credit card\nNum_of_Loan- number of loans taken from the bank\nType_of_Loan- types of loan taken by a person\nDelay_from_due_date- average number of days delayed from the payment date\nNum_of_Delayed_Payment- number of payments delayed from the payment date\nChanged_Credit_Limit- percentage change in credit card limit\nNum_Credit_Inquiries- number of credit card inquiries\nCredit_Mix- classification of the mix of credits\nOutstanding_Debt- remaining debt to be paid (in USD)\nCredit_Utilization_Ratio- utilization ratio of credit card\nCredit_History_Age- the age of credit history of the person\nPayment_of_Min_Amount- the minimum amount was paid by the person\nTotal_EMI_per_month- monthly EMI payments (in USD)\nAmount_Invested_monthly- monthly amount invested by the customer (in USD)\nPayment_Behaviour- payment behavior of the customer (in USD)\nMonthly_Balance- monthly balance amount of the customer (in USD)\nCredit_Score- the bracket of credit score'

In [71]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [72]:
#Loading dataset

df=pd.read_csv(r"C:\Users\saura\Documents\INTELLIPAT\Projects\Credit score\credit_score.csv")
df.info()

#Credit score dataset contains 1 lac records with 28 features.

C:\Users\saura\AppData\Local\Temp\ipykernel_18796\3971103486.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r"C:\Users\saura\Documents\INTELLIPAT\Projects\Credit score\credit_score.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [73]:
#Primary inspection of data and removing unnecessary columns

df=df.drop(columns=['ID','Customer_ID','Name','SSN'], axis=1)
print(df.shape, '\n')
df.head(2)

(100000, 24)

,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,January,23,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,_,809.98,26.82262,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,February,23,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",...,Good,809.98,31.94496,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good

In [74]:
#Statistical analysis

df.describe().T
#Null values in Monthly_Inhand_Salary and Num_Credit_Inquiries

,count,mean,std,min,25%,50%,75%,max
Monthly_Inhand_Salary,84998.0,4194.170850,3183.686167,303.645417,1625.568229,3093.745000,5957.448333,15204.633333
Num_Bank_Accounts,100000.0,17.091280,117.404834,-1.000000,3.000000,6.000000,7.000000,1798.000000
Num_Credit_Card,100000.0,22.474430,129.057410,0.000000,4.000000,5.000000,7.000000,1499.000000
Interest_Rate,100000.0,72.466040,466.422621,1.000000,8.000000,13.000000,20.000000,5797.000000
Delay_from_due_date,100000.0,21.068780,14.860104,-5.000000,10.000000,18.000000,28.000000,67.000000
Num_Credit_Inquiries,98035.0,27.754251,193.177339,0.000000,3.000000,6.000000,9.000000,2597.000000
Credit_Utilization_Ratio,100000.0,32.285173,5.116875,20.000000,28.052567,32.305784,36.496663,50.000000
Total_EMI_per_month,100000.0,1403.118217,8306.041270,0.000000,30.306660,69.249473,161.224249,82331.000000

In [75]:
df.info()
#Null values in Type_of_Loan & Num_of_Delayed_Payment & Credit_History_Age & Monthly_Balance

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 24 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Month                     100000 non-null  object
 1   Age                       100000 non-null  object
 2   Occupation                100000 non-null  object
 3   Annual_Income             100000 non-null  object
 4   Monthly_Inhand_Salary     84998 non-null   float64
 5   Num_Bank_Accounts         100000 non-null  int64
 6   Num_Credit_Card           100000 non-null  int64
 7   Interest_Rate             100000 non-null  int64
 8   Num_of_Loan               100000 non-null  object
 9   Type_of_Loan              88592 non-null   object
 10  Delay_from_due_date       100000 non-null  int64
 11  Num_of_Delayed_Payment    92998 non-null   object
 12  Changed_Credit_Limit      100000 non-null  object
 13  Num_Credit_Inquiries      98035 non-null   float64
 14  Credit_Mix                100000 non-null  object
 15  Outstanding_Debt          100000 non-null  object
 16  Credit_Utilization_Ratio  100000 non-null  float64
 17  Credit_History_Age        90970 non-null   object
 18  Payment_of_Min_Amount     100000 non-null  object
 19  Total_EMI_per_month       100000 non-null  float64
 20  Amount_invested_monthly   95521 non-null   object
 21  Payment_Behaviour         100000 non-null  object
 22  Monthly_Balance           98800 non-null   object
 23  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(16)
memory usage: 18.3+ MB

In [76]:
#Percentage of missing values

df.isnull().sum()*100/len(df)

Month                        0.000
Age                          0.000
Occupation                   0.000
Annual_Income                0.000
Monthly_Inhand_Salary       15.002
Num_Bank_Accounts            0.000
Num_Credit_Card              0.000
Interest_Rate                0.000
Num_of_Loan                  0.000
Type_of_Loan                11.408
Delay_from_due_date          0.000
Num_of_Delayed_Payment       7.002
Changed_Credit_Limit         0.000
Num_Credit_Inquiries         1.965
Credit_Mix                   0.000
Outstanding_Debt             0.000
Credit_Utilization_Ratio     0.000
Credit_History_Age           9.030
Payment_of_Min_Amount        0.000
Total_EMI_per_month          0.000
Amount_invested_monthly      4.479
Payment_Behaviour            0.000
Monthly_Balance              1.200
Credit_Score                 0.000
dtype: float64

In [77]:
df=df.drop(['Type_of_Loan','Credit_History_Age'], axis=1)

In [78]:
df.columns

Index(['Month', 'Age', 'Occupation', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Payment_of_Min_Amount',
       'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour',
       'Monthly_Balance', 'Credit_Score'],
      dtype='object')

In [117]:
#Data cleaning

#df['Age']=df['Age'].apply(str).str.replace(" ","")
#df['Age']=df['Age'].astype(float)
#df['Annual_Income']=df['Annual_Income'].apply(str).str.replace(' ',"")
#df['Annual_Income']=df['Annual_Income'].astype(float)
#df['Num_of_Loan']=df['Num_of_Loan'].apply(str).str.replace(' ',"")
#df['Num_of_Loan']=df['Num_of_Loan'].astype(float)
df['Num_of_Loan']=df['Num_of_Loan'].apply(str).str.replace(' ',"")
df['Num_of_Loan']=df['Num_of_Loan'].astype(float)
df['Monthly_Balance']=df['Monthly_Balance'].apply(str).str.replace(' ',"")
df['Monthly_Balance']=df['Monthly_Balance'].astype(float)
df['Amount_invested_monthly']=df['Amount_invested_monthly'].apply(str).str.replace(' ',"")
df['Amount_invested_monthly']=df['Amount_invested_monthly'].astype(float)

    7062
Name: Occupation, dtype: int64

In [ ]:
print(df['Occupation'].value_counts().head(1))
df['Occupation']=df['Occupation'].apply(str).str.replace('___',"")

In [120]:
print(df['Credit_Score'].value_counts())
df['Credit_Score']=df['Credit_Score'].replace(['Poor','Standard','Good'],[0,1,2])

1    53174
0    28998
2    17828
Name: Credit_Score, dtype: int64

In [126]:
print(df['Payment_Behaviour'].value_counts().tail(1))
df['Payment_Behaviour']=df['Payment_Behaviour'].replace('!@9#%8',np.nan)

!@9#%8    7600
Name: Payment_Behaviour, dtype: int64

In [127]:
df['Amount_invested_monthly'].value_counts()

__10000__             4305
0.0                    169
80.41529543900253        1
36.66235139442514        1
89.7384893604547         1
                      ...
36.541908593249026       1
93.45116318631192        1
140.80972223052834       1
38.73937670100975        1
167.1638651610451        1
Name: Amount_invested_monthly, Length: 91049, dtype: int64

In [130]:
print(df['Payment_of_Min_Amount'].value_counts())
df['Payment_of_Min_Amount']=df['Payment_of_Min_Amount'].replace('NM','No')
df['Payment_of_Min_Amount']=df['Payment_of_Min_Amount'].replace(['Yes','No'],[1,0])

Yes    52326
No     35667
NM     12007
Name: Payment_of_Min_Amount, dtype: int64